<p>The amount you paid was: <%= number_to_currency(@result) %>.</p>
<p>Thank you <%= @name %> for using our calculator!</p>
<p>If you would like to use our calculators again, please click <a href="/calculator">here!</a></p>